.video-details-container {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  z-index: 1;
  padding: 0px !important;
}

.video-details {
  z-index: 1;
  padding: 10px 0 0 0 !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 10px -10px black;
}

.header-search {
  width: 100%;
  display: flex !important;
  background-color: #ffffff;
  padding: 10px 0 0 0 !important;
  justify-content: center;
}

.searchbar-container {
  width: 50%;
}
