.video-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  cursor: pointer;
}

.video-item.right {
  align-items: flex-start !important;
}

.video-item.item .video-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
}

.video-item.item.right .content {
  margin: 0 0 0 1em;
}

.video-item.item img {
  max-width: 180px;
}
